In [2]:
#1) How-to-count-distance-to-the-previous-zero
import pandas as pd
s = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
print((s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist())

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [3]:
#2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
import numpy as np
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

2015-01-01    0.423865
2015-01-02    0.287766
2015-01-05    0.770729
2015-01-06    0.736758
2015-01-07    0.891503
2015-01-08    0.800890
2015-01-09    0.178571
2015-01-12    0.742510
2015-01-13    0.722956
2015-01-14    0.446188
2015-01-15    0.575354
2015-01-16    0.717688
2015-01-19    0.555881
2015-01-20    0.110128
2015-01-21    0.561071
2015-01-22    0.780754
2015-01-23    0.981162
2015-01-26    0.027536
2015-01-27    0.110312
2015-01-28    0.473907
2015-01-29    0.400032
2015-01-30    0.013969
2015-02-02    0.429253
2015-02-03    0.894696
2015-02-04    0.469952
2015-02-05    0.907630
2015-02-06    0.534849
2015-02-09    0.885142
2015-02-10    0.145658
2015-02-11    0.592887
                ...
2015-11-20    0.315667
2015-11-23    0.977086
2015-11-24    0.631568
2015-11-25    0.964638
2015-11-26    0.902820
2015-11-27    0.550647
2015-11-30    0.619129
2015-12-01    0.273705
2015-12-02    0.137502
2015-12-03    0.857861
2015-12-04    0.083296
2015-12-07    0.114459
2015-12-08    0.583274
2015-12-09    0.198917
2015-12-10    0.152212
2015-12-11    0.843167
2015-12-14    0.588192
2015-12-15    0.730280
2015-12-16    0.101070
2015-12-17    0.989296
2015-12-18    0.434336
2015-12-21    0.376441
2015-12-22    0.688625
2015-12-23    0.908881
2015-12-24    0.631848
2015-12-25    0.707591
2015-12-28    0.166870
2015-12-29    0.295212
2015-12-30    0.204470
2015-12-31    0.428310
Freq: B, Length: 261, dtype: float64

In [4]:
#3) Find the sum of the values in s for every Wednesday
s[dti.weekday == 2].sum()

21.888413725887617

In [5]:
#4) Average For each calendar month
s.resample('M').mean()

2015-01-31    0.514069
2015-02-28    0.403085
2015-03-31    0.503587
2015-04-30    0.409911
2015-05-31    0.450789
2015-06-30    0.549286
2015-07-31    0.514955
2015-08-31    0.391813
2015-09-30    0.452088
2015-10-31    0.430860
2015-11-30    0.573198
2015-12-31    0.456340
Freq: M, dtype: float64

In [10]:
#5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-23
2015-05-31   2015-05-07
2015-09-30   2015-08-13
2016-01-31   2015-12-17
dtype: datetime64[ns]